<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.taotao.manage.mapper.ItemDescMapper">


    <!--根据id删除数据-->
    <delete id="deleteItemDesc">
        delete from tb_item_desc WHERE item_id IN
        <foreach collection="ids" open="(" item="id" index="index" close=")" separator=",">
            #{id}
        </foreach>
    </delete>
</mapper>
